#contents {
  margin-top: 82px;
}

footer {
  margin-top: 32px;
  margin-bottom: 32px;
}

.po {
  cursor: pointer;
}

@media (max-width: 500px) {
  .toast {
    width: auto;
  }
}
.palette {
  list-style-type: none;
  display: block;
  padding: 0;
}
.palette li {
  display: block;
  float: left;
}
.palette input {
  font-family: inherit;
  display: block;
  width: 100%;
  border: 0;
  height: 80px;
  max-width: 140px;
  outline: 0px;
  text-align: center;
  color: #fff;
  font-size: 13px;
  border-radius: 0px;
  cursor: pointer;
  position: relative;
  top: 0px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  width: 50px;
  height: 80px;
  padding: 0px;
  border-radius: 0px !important;
  border-width: 0px !important;
}
.palette input:hover {
  position: relative;
  top: -5px;
}

.form-control-color::-moz-color-swatch {
  height: 80px;
  border-radius: 0;
  border: unset;
}

.form-control-color::-webkit-color-swatch {
  height: 80px;
  border-radius: 0;
  border: unset;
}

/* Media Queries */
.qr-cnt {
  max-width: 200px;
  border: 1px solid #f0f0f0;
  position: relative;
}
.qr-cnt .qr-download {
  position: absolute;
  right: 0;
  margin-top: -12px;
  margin-right: -10px;
  background: white;
  border-radius: 50%;
  border: 1px solid #f0f0f0;
  padding: 8px;
}
.qr-cnt .qr-note {
  position: absolute;
  font-size: 12px;
  font-style: italic;
}
.qr-cnt .qr-download:hover {
  transform: scale(1.01);
}

.nounderline {
  text-decoration: none !important;
}
